* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark :#1D4ED8;
    --bg-color: #0F172A; 
    --stroke-color: #1E293B; 
    --text-color-primary: #F1F5FC;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;

    --text-exlg: bolder 24px/135% var(--font-family);
    --text-lg: bolder 16px/140% var(--font-family);
    --text-md: bolder 14px/140% var(--font-family);
    --text-sm: bold 14px/145% var(--font-family);
    --text-exsm: normal 14px/160% var(--font-family);
    }

    .grid-flow-col {
        display: grid;
        grid-auto-flow : column
    }

    img {
        max-width: 100%;
    }
    
    body {
        background: var(--bg-color);
        
    }

    article {
        overflow: hidden;
        margin: 40px 30px 80px 30px;
    }